.user-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.search-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}

.search-area label {
  font-size: 1.2em;
  margin-right: 10px;
}

.search-area input {
  margin-left: 10px;
  margin-right: 5px;
  padding: 5px;
  width: 150px;
}

.search-area button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

.results-map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
}

.logout-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
