.signup-container {
    text-align: center;
    padding: 50px;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 30%;
    margin-top: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .signup-button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #00a8ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .signup-button:hover {
    background-color: #007acc;
  }

  .additional-options {
    width: 100%;
    margin-top: 5px;
    text-align: left;
  }

  .additional-options p {
    text-align: center;
  }
  
  .forgot-password-link,
  .login-link {
    color: #00a8ff;
    text-decoration: none;
    user-select: none;
  }

  .forgot-password-link:visited,
  .login-link:visited {
    color: #00a8ff; /* Ensure the color remains the same after the link is visited */
  }

  
  .forgot-password-link:hover,
  .login-link:hover {
    text-decoration: underline;
  }