@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Optional: Import Google Font */

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


nav ul li a:hover {
  background-color: #f9f9f9;
  color: #00a8ff;
}

nav ul li a.active-link {
  background-color: #f9f9f9;
  color: #00a8ff;
}

.required-asterisk {
  color: red;
}
