@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /* Optional: Import Google Font */

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue";
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.required-asterisk {
  color: red;
}

.error-message {
  color: red; /* Set the text color to red */
  font-size: 14px; /* Set the font size */
  margin-top: 10px; /* Add some space above the error message */
  margin-bottom: 10px; /* Add some space below the error message */
  text-align: center; /* Center the text */
}
