.results-section {
  width: 40%;
  height: 600px;
  overflow-y: auto;
}

.results-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.results-section table,
th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.results-section th {
  background-color: #f2f2f2;
}

.entries-control {
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.entries-control input {
  margin: 0 5px;
  padding: 5px;
  width: 30px;
  text-align: right;
}

.filter-section {
  margin-bottom: 15px;
}
